In [147]:
import sys
import os
from datetime import datetime
import pandas as pd

# Add the parent directory to sys.path so local modules can be imported
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

In [148]:
historical_data = pd.read_csv('../data/raw/Historical Income Tax Rates and Brackets, 1862-2021.csv')
historical_data

,Year,Married Filing Jointly (Rates/Brackets),Unnamed: 2,Unnamed: 3,Married Filing Separately (Rates/Brackets),Unnamed: 5,Unnamed: 6,Single Filer (Rates/Brackets),Unnamed: 8,Unnamed: 9,Head of Household (Rates/Brackets),Unnamed: 11,Unnamed: 12,Notes:
0,2021,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0,Last law to change rates was the Tax Cuts and ...
1,2021,12.0%,>,"$19,900",12.0%,>,"$9,950",12.0%,>,"$9,950",12.0%,>,"$14,200",NaN
2,2021,22.0%,>,"$81,050",22.0%,>,"$40,525",22.0%,>,"$40,525",22.0%,>,"$54,200",NaN
3,2021,24.0%,>,"$172,750",24.0%,>,"$86,375",24.0%,>,"$86,375",24.0%,>,"$86,350",NaN
4,2021,32.0%,>,"$329,850",32.0%,>,"$164,925",32.0%,>,"$164,925",32.0%,>,"$164,900",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,1863,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600,Last law to change rates was the Revenue Act o...
2496,1863,5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000",NaN
2497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2498,1862,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600,Last law to change rates was the Revenue Act o...
2499,1862,5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000",NaN

In [149]:
# remove null rows
historical_data = historical_data.dropna(how='all')
historical_data

,Year,Married Filing Jointly (Rates/Brackets),Unnamed: 2,Unnamed: 3,Married Filing Separately (Rates/Brackets),Unnamed: 5,Unnamed: 6,Single Filer (Rates/Brackets),Unnamed: 8,Unnamed: 9,Head of Household (Rates/Brackets),Unnamed: 11,Unnamed: 12,Notes:
0,2021,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0,Last law to change rates was the Tax Cuts and ...
1,2021,12.0%,>,"$19,900",12.0%,>,"$9,950",12.0%,>,"$9,950",12.0%,>,"$14,200",NaN
2,2021,22.0%,>,"$81,050",22.0%,>,"$40,525",22.0%,>,"$40,525",22.0%,>,"$54,200",NaN
3,2021,24.0%,>,"$172,750",24.0%,>,"$86,375",24.0%,>,"$86,375",24.0%,>,"$86,350",NaN
4,2021,32.0%,>,"$329,850",32.0%,>,"$164,925",32.0%,>,"$164,925",32.0%,>,"$164,900",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2493,1864,10.0%,>,"$10,000",10.0%,>,"$10,000",10.0%,>,"$10,000",10.0%,>,"$10,000",NaN
2495,1863,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600,Last law to change rates was the Revenue Act o...
2496,1863,5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000",NaN
2498,1862,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600,Last law to change rates was the Revenue Act o...
2499,1862,5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000",NaN

In [150]:
# Rename the unnamed columns
greater_than = 'For Income >'
range_start = 'Range Start'
# Automatically rename all 'Unnamed: x' columns to the appropriate label in a DRY way
rename_map = {}
for i, col in enumerate(historical_data.columns):
    if 'Unnamed' in col:
        # Odd-numbered unnamed columns are 'For Income >', even-numbered are 'Range Start'
        rename_map[col] = greater_than if i % 3 != 0 else range_start

historical_data = historical_data.rename(columns=rename_map)

historical_data

,Year,Married Filing Jointly (Rates/Brackets),For Income >,Range Start,Married Filing Separately (Rates/Brackets),For Income >,Range Start,Single Filer (Rates/Brackets),For Income >,Range Start,Head of Household (Rates/Brackets),For Income >,Range Start,Notes:
0,2021,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0,Last law to change rates was the Tax Cuts and ...
1,2021,12.0%,>,"$19,900",12.0%,>,"$9,950",12.0%,>,"$9,950",12.0%,>,"$14,200",NaN
2,2021,22.0%,>,"$81,050",22.0%,>,"$40,525",22.0%,>,"$40,525",22.0%,>,"$54,200",NaN
3,2021,24.0%,>,"$172,750",24.0%,>,"$86,375",24.0%,>,"$86,375",24.0%,>,"$86,350",NaN
4,2021,32.0%,>,"$329,850",32.0%,>,"$164,925",32.0%,>,"$164,925",32.0%,>,"$164,900",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2493,1864,10.0%,>,"$10,000",10.0%,>,"$10,000",10.0%,>,"$10,000",10.0%,>,"$10,000",NaN
2495,1863,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600,Last law to change rates was the Revenue Act o...
2496,1863,5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000",NaN
2498,1862,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600,Last law to change rates was the Revenue Act o...
2499,1862,5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000",NaN

In [151]:
historical_data.dtypes

Year                                          object
Married Filing Jointly (Rates/Brackets)       object
For Income >                                  object
Range Start                                   object
Married Filing Separately (Rates/Brackets)    object
For Income >                                  object
Range Start                                   object
Single Filer (Rates/Brackets)                 object
For Income >                                  object
Range Start                                   object
Head of Household (Rates/Brackets)            object
For Income >                                  object
Range Start                                   object
Notes:                                        object
dtype: object

In [152]:
historical_data['Year'] = historical_data['Year'].replace('1940(A)', '1940')
historical_data['Year'] = historical_data['Year'].astype(int)
historical_data.dtypes

Year                                           int64
Married Filing Jointly (Rates/Brackets)       object
For Income >                                  object
Range Start                                   object
Married Filing Separately (Rates/Brackets)    object
For Income >                                  object
Range Start                                   object
Single Filer (Rates/Brackets)                 object
For Income >                                  object
Range Start                                   object
Head of Household (Rates/Brackets)            object
For Income >                                  object
Range Start                                   object
Notes:                                        object
dtype: object

In [153]:
df_22_23 = pd.read_csv('../data/normalized/2022-23-tax-brackets.csv')
df_22_23

,Year,Married Filing Jointly (Rates/Brackets),For Income >,Range Start,Married Filing Separately (Rates/Brackets),For Income >.1,Range Start.1,Single Filer (Rates/Brackets),For Income >.2,Range Start.2,Head of Household (Rates/Brackets),For Income >.3,Range Start.3
0,2023,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0
1,2023,12.0%,>,"$22,000",12.0%,>,"$11,000",12.0%,>,"$11,000",12.0%,>,"$15,700"
2,2023,22.0%,>,"$89,450",22.0%,>,"$44,725",22.0%,>,"$44,725",22.0%,>,"$59,850"
3,2023,24.0%,>,"$190,750",24.0%,>,"$95,375",24.0%,>,"$95,375",24.0%,>,"$95,350"
4,2023,32.0%,>,"$364,200",32.0%,>,"$182,100",32.0%,>,"$182,100",32.0%,>,"$182,100"
5,2023,35.0%,>,"$462,500",35.0%,>,"$231,250",35.0%,>,"$231,250",35.0%,>,"$231,250"
6,2023,37.0%,>,"$693,750",37.0%,>,"$578,125",37.0%,>,"$578,125",37.0%,>,"$578,100"
7,2022,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0
8,2022,12.0%,>,"$20,550",12.0%,>,"$10,275",12.0%,>,"$10,275",12.0%,>,"$14,650"
9,2022,22.0%,>,"$83,550",22.0%,>,"$41,775",22.0%,>,"$41,775",22.0%,>,"$55,900"
10,2022,24.0%,>,"$178,150",24.0%,>,"$89,075",24.0%,>,"$89,075",24.0%,>,"$89,050"
11,2022,32.0%,>,"$340,100",32.0%,>,"$170,050",32.0%,>,"$170,050",32.0%,>,"$170,050"
12,2022,35.0%,>,"$431,900",35.0%,>,"$215,950",35.0%,>,"$215,950",35.0%,>,"$215,950"
13,2022,37.0%,>,"$647,850",37.0%,>,"$539,900",37.0%,>,"$539,900",37.0%,>,"$539,900"

In [154]:
df_22_23.columns = df_22_23.columns.str.replace(r'\.\d+$', '', regex=True)
df_22_23

,Year,Married Filing Jointly (Rates/Brackets),For Income >,Range Start,Married Filing Separately (Rates/Brackets),For Income >,Range Start,Single Filer (Rates/Brackets),For Income >,Range Start,Head of Household (Rates/Brackets),For Income >,Range Start
0,2023,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0
1,2023,12.0%,>,"$22,000",12.0%,>,"$11,000",12.0%,>,"$11,000",12.0%,>,"$15,700"
2,2023,22.0%,>,"$89,450",22.0%,>,"$44,725",22.0%,>,"$44,725",22.0%,>,"$59,850"
3,2023,24.0%,>,"$190,750",24.0%,>,"$95,375",24.0%,>,"$95,375",24.0%,>,"$95,350"
4,2023,32.0%,>,"$364,200",32.0%,>,"$182,100",32.0%,>,"$182,100",32.0%,>,"$182,100"
5,2023,35.0%,>,"$462,500",35.0%,>,"$231,250",35.0%,>,"$231,250",35.0%,>,"$231,250"
6,2023,37.0%,>,"$693,750",37.0%,>,"$578,125",37.0%,>,"$578,125",37.0%,>,"$578,100"
7,2022,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0
8,2022,12.0%,>,"$20,550",12.0%,>,"$10,275",12.0%,>,"$10,275",12.0%,>,"$14,650"
9,2022,22.0%,>,"$83,550",22.0%,>,"$41,775",22.0%,>,"$41,775",22.0%,>,"$55,900"
10,2022,24.0%,>,"$178,150",24.0%,>,"$89,075",24.0%,>,"$89,075",24.0%,>,"$89,050"
11,2022,32.0%,>,"$340,100",32.0%,>,"$170,050",32.0%,>,"$170,050",32.0%,>,"$170,050"
12,2022,35.0%,>,"$431,900",35.0%,>,"$215,950",35.0%,>,"$215,950",35.0%,>,"$215,950"
13,2022,37.0%,>,"$647,850",37.0%,>,"$539,900",37.0%,>,"$539,900",37.0%,>,"$539,900"

In [155]:
df_22_23.dtypes

Year                                           int64
Married Filing Jointly (Rates/Brackets)       object
For Income >                                  object
Range Start                                   object
Married Filing Separately (Rates/Brackets)    object
For Income >                                  object
Range Start                                   object
Single Filer (Rates/Brackets)                 object
For Income >                                  object
Range Start                                   object
Head of Household (Rates/Brackets)            object
For Income >                                  object
Range Start                                   object
dtype: object

In [156]:
notes = historical_data['Notes:']
notes

0       Last law to change rates was the Tax Cuts and ...
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
                              ...
2493                                                  NaN
2495    Last law to change rates was the Revenue Act o...
2496                                                  NaN
2498    Last law to change rates was the Revenue Act o...
2499                                                  NaN
Name: Notes:, Length: 2378, dtype: object

In [157]:
historical_data = historical_data.drop(columns=['Notes:'])
historical_data

,Year,Married Filing Jointly (Rates/Brackets),For Income >,Range Start,Married Filing Separately (Rates/Brackets),For Income >,Range Start,Single Filer (Rates/Brackets),For Income >,Range Start,Head of Household (Rates/Brackets),For Income >,Range Start
0,2021,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0
1,2021,12.0%,>,"$19,900",12.0%,>,"$9,950",12.0%,>,"$9,950",12.0%,>,"$14,200"
2,2021,22.0%,>,"$81,050",22.0%,>,"$40,525",22.0%,>,"$40,525",22.0%,>,"$54,200"
3,2021,24.0%,>,"$172,750",24.0%,>,"$86,375",24.0%,>,"$86,375",24.0%,>,"$86,350"
4,2021,32.0%,>,"$329,850",32.0%,>,"$164,925",32.0%,>,"$164,925",32.0%,>,"$164,900"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2493,1864,10.0%,>,"$10,000",10.0%,>,"$10,000",10.0%,>,"$10,000",10.0%,>,"$10,000"
2495,1863,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600
2496,1863,5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000"
2498,1862,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600
2499,1862,5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000"

In [158]:
updated_data = pd.concat([historical_data, df_22_23], ignore_index=True)
updated_data

,Year,Married Filing Jointly (Rates/Brackets),For Income >,Range Start,Married Filing Separately (Rates/Brackets),For Income >,Range Start,Single Filer (Rates/Brackets),For Income >,Range Start,Head of Household (Rates/Brackets),For Income >,Range Start
0,2021,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0
1,2021,12.0%,>,"$19,900",12.0%,>,"$9,950",12.0%,>,"$9,950",12.0%,>,"$14,200"
2,2021,22.0%,>,"$81,050",22.0%,>,"$40,525",22.0%,>,"$40,525",22.0%,>,"$54,200"
3,2021,24.0%,>,"$172,750",24.0%,>,"$86,375",24.0%,>,"$86,375",24.0%,>,"$86,350"
4,2021,32.0%,>,"$329,850",32.0%,>,"$164,925",32.0%,>,"$164,925",32.0%,>,"$164,900"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,2022,22.0%,>,"$83,550",22.0%,>,"$41,775",22.0%,>,"$41,775",22.0%,>,"$55,900"
2388,2022,24.0%,>,"$178,150",24.0%,>,"$89,075",24.0%,>,"$89,075",24.0%,>,"$89,050"
2389,2022,32.0%,>,"$340,100",32.0%,>,"$170,050",32.0%,>,"$170,050",32.0%,>,"$170,050"
2390,2022,35.0%,>,"$431,900",35.0%,>,"$215,950",35.0%,>,"$215,950",35.0%,>,"$215,950"
2391,2022,37.0%,>,"$647,850",37.0%,>,"$539,900",37.0%,>,"$539,900",37.0%,>,"$539,900"

In [159]:
updated_data.sort_values(
    by=['Year', 'Married Filing Jointly (Rates/Brackets)'],
    ascending=[False, True],
    inplace=True
)
updated_data

,Year,Married Filing Jointly (Rates/Brackets),For Income >,Range Start,Married Filing Separately (Rates/Brackets),For Income >,Range Start,Single Filer (Rates/Brackets),For Income >,Range Start,Head of Household (Rates/Brackets),For Income >,Range Start
2378,2023,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0,10.0%,>,$0
2379,2023,12.0%,>,"$22,000",12.0%,>,"$11,000",12.0%,>,"$11,000",12.0%,>,"$15,700"
2380,2023,22.0%,>,"$89,450",22.0%,>,"$44,725",22.0%,>,"$44,725",22.0%,>,"$59,850"
2381,2023,24.0%,>,"$190,750",24.0%,>,"$95,375",24.0%,>,"$95,375",24.0%,>,"$95,350"
2382,2023,32.0%,>,"$364,200",32.0%,>,"$182,100",32.0%,>,"$182,100",32.0%,>,"$182,100"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2372,1864,7.5%,>,"$5,000",7.5%,>,"$5,000",7.5%,>,"$5,000",7.5%,>,"$5,000"
2374,1863,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600
2375,1863,5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000"
2376,1862,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600,3.0%,>,$600
2377,1862,5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000",5.0%,>,"$10,000"

In [160]:
updated_data.to_csv('../data/normalized/normalized-historical-tax-brackets.csv', index=False)
print(f"Combined tax brackets data saved to '../data/normalized/combined-tax-brackets.csv' at {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")

Combined tax brackets data saved to '../data/normalized/combined-tax-brackets.csv' at 2025-05-31 16:43:22